body { margin:0; padding:0; }

.col-xs-12{
  margin: 0px;
  padding: 0px;
}

.tableContent{
  max-height:calc(100vh - 64px);;
  max-height:calc(100vh - 64px);
  /* height: 100% !important;  */
  margin: 0px; 
  padding: 0px;
  overflow-y: auto;
  /* background: #00ff00; */
  /* height: 1000px; */
}

.tableContent > table > tbody > tr > td  {
  cursor: pointer;
}

.tableContent > table > tbody > tr:hover  {
  background: #f4f3c3;
}
.mapContent {
  max-height:100% !important; 
  max-height:100vh !important;
  height: 100%;
  margin: 0px; 
  padding: 0px;
}

.featureDetails{
  position: absolute;
  top: 0px;
  right: 10px;
  z-index: 999999;
  width: 200px;
  height: auto;
  background:  #ffffff;
  font-size: 11px;
  padding: 10px;
}

.rowPropertie{
  padding-top: 5px;
  padding-bottom: 5px;
  border-top : 1px solid #bbbbbb;
  display: flex;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.columnKeys{
  width: 60px;
  min-width: 60px;
  font-weight: bold;
  /* background: lightblue; */
}

  /* Just so it's visible */
@media(max-width:48em){
  .tableContent{
      height: 200px;
      max-height: 200px;
  }
  .mapContent {
    height: 500px;
    max-height: 500px;
  }
}
